*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    line-height: 1.4;
    font-size: 16px;
    background-color: #f6f2ef;
    color: #283c46;
}

header, main, footer {
    display: block;
}

article {
    display: block;
}

section {
    display: block;
    position: relative;
    margin-top: 0px;
}

a {
    color: inherit;
    text-decoration: none;
    background: transparent;
}

form {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
}

form.session {
    display: inline-block;
    width: 488px;
    height: 330px;
}

input {
    /* width: 388px; */
    text-align: start;
    background-color: white;
    cursor: text;
    margin: 0em;
    font: 400 16px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
}

input.session {
    width: 388px;
}

h1 {
    display: block;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: bold;
    margin: 0.27em 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h3 {
    line-height: 1.2;
    font-size: 1.0em;
    font-weight: bold;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

h4 {
    display: block;
    font-size: 1.0em;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold; 
}

small {
    font-size: 13px;
    color: #7f7f7f;
}

.action_button {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    padding: 3px 5px;
    border: 1px solid #bfbfbf;
    border-color: rgba(0,0,0,0.15);
    border-bottom-width: 2px;
    border-radius: 4px;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 17px;
    color: #000;
    line-height: inherit;
    vertical-align: middle;
    white-space: normal;
    cursor: pointer;
}

.action_button_img {
    vertical-align: middle;
    margin: 0 0.2em;
}

.bg-butcher-paper {
    background-color: fbf7f0;
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 1.5em;
    background-color: #2da562;
    border-color: #2da562;
    color: #fff;
    max-width: 100%;
    border: 1px solid #d9d9d9;
    line-height: 1.5;
    white-space: normal;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn:focus {
    outline: none;
}

.break {
    z-index: 0;
    position: relative;
}

.break:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-bottom: 1px solid #d9d9d9;
    z-index: -1;
}

.break__content {
    color: #7f7f7f;
    display: inline-block;
    padding: 0 0.5em;
    background: #fff;
}

.break--flush-left> span {
    padding-left: 0;
}

.break> span {
    display: inline-block;
    padding: 0 0.5em;
    background: #fff;
}
.centered {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.center-align {
    margin-right: auto;
}

.flush {
    margin: 0;
}

.flush--top {
    margin-top: 0;
}

.full-width {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(18, 2.45em) repeat(3, 1fr);
    margin: 0;
    padding: 0;
}

.grid--centered {
    grid-column: 4 / span 18;
}
.header--top {
    padding-top: 55px;
    padding-bottom: 0px;
}

.input {
    /* max-width: 388px;
    max-height: 46px; */
    max-width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 0.4rem;
    line-height: 1.5;
    transition: box-shadow 0.15s ease-in-out;
    padding: 0.5em;
    resize: none;
}

.left {
    text-align: left;
}

.messages-table_avatar {
    max-width: 9rem;
    padding-left: 0 !important;
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    padding-top: 0.9rem;
}

.messages-table--for-card .messages-table_avatar {
    max-width: 4.8rem;
}

.messages-table--for-card .messages-table_cell {
    display: table-cell;
    padding: 0.5rem 0.2rem 0.3rem;
}

.normal {
    font-weight: normal;
}

/* ----Navbar specific css---- */

/* DO NOT TOUCH, does the alignment of icons. CSS by classname will not work */
img {
    vertical-align: middle;
}

.dropdown-menu {
    flex-direction: column;
    display: flex;
    position: fixed;
    top: 2.4rem;
    left: auto;
    right: 0;
    width: 350px;
    text-align: left;
    border: 0;
    border-radius: 0.2em 0.2em 0 0;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.15), 0 5px 10px rgba(0,0,0,0.05);
    z-index: 1;
}

.dropdown-settings:after {
    content: ' ';
    position: absolute;
    bottom: 100%;
    left: 91%;
    width: 0;
    height: 0;
    margin-left: -9px;
    border: 9px solid rgba(255,255,255,0);
    border-bottom-color: #fff;
    z-index: 5;
}

.dropdown-settings {
    overflow-x: hidden;
    overflow-y: overlay;
    padding-top: 1rem;   
}

.nav_accounts {
    display: flex;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
}

.navbar-menu {
    display: flex;
    line-height: 1.5;
    justify-content: space-between;
}

.navbar-menu > li {
    padding: .25em 1em;
}

.nav_link {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

.nav-menu_section {
    padding: 1rem 2rem;
}

.nav_settings {
    display: flex;
    margin-left: auto;
}

/* ----Project card specific css---- */

.card_add-project {
    text-align: center;
    padding-top: 7rem;
/* Ayanote: use 'image-url' for deploying to Heroku. See AA Heroku instructions and/or Abel */
    background-image: image-url('./green_plus.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 4rem 6rem;
    font-size: 1.5rem;
}

.card_avatar {
    position: absolute;
    bottom: 0.8em;
    left: 1em;
    right: 1em;
    padding: 2px;
}

.card_content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0.85em;
    overflow: hidden;
}

.card_description {
    font-size: 0.6em;
}

.card-grid {
    display:flex;
    text-align: center;
    justify-content: center;
    align-content: flex-start;
}

.card_link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.card_title {
    font-size: 0.85em;
    margin-right: 2em;

}
.project-card {
    display: inline-block;
    position: relative;
    width: 100%;
    background: #fff;
    vertical-align: top;
    margin: 0.35em;
    padding-top: 33%;
    font-size: 1.8rem;
    border-radius: 0.6rem;
    line-height: 1.3;
    text-align: left;
    box-shadow: 0 0 1px rgba(0,0,0,0.25), 0 1px 3px rgba(0,0,0,0.1);
}

.project-index {
    margin: 0 auto;
    max-width: 85%;
}

/* App card specific CSS */

.card {
    position: relative;
    vertical-align: top;
    line-height: 1.3;
    margin: 0.75em;
    font-size: 1.2rem;
    text-align: left;
    word-wrap: break-word;
    border-radius: 0.6rem;
    box-shadow: 0 0 2px rgba(0,0,0,0.35), 0 1px 3px rgba(0,0,0,0.1);
    background: #fff;
}

.card:before {
    content: '';
    display: block;
    padding-top: 133%;
}

.card--app {
    width: 31%;
    border-radius: 0.5rem;
}

.card--app .card_header {
    margin: -1.5em 0 0;
    padding: 1.5em 0 1em;
    background-position: 0.5em center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0.5rem 0.5rem 0 0;
    position: relative;
}

.card--app:before {
    padding-top: 100%;
}

/* for toggling between blank and customized */
/* .card_blank-slate {
    display: none;
} */

.card h1 {
    font-size: 1.0em;
}

/* ------------------------- */

.panel {
    padding: 0 1.6rem;
    margin: 0 auto 10rem;
    max-width: 48rem;
}

.panel--perma {
    width: 90%;
    padding: 2.5rem;
    background: #fff;
    position: relative;
    min-height: 100vh;
    max-width: 58em;
    box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;
    border-radius: 0.2em 0.2em 0 0;
}

.project-dock {
    text-align: center;
    max-width: 85rem;
    margin: 0 auto;
    font-size: 1.3rem;
}
.project-header {
    padding-bottom: 1rem;
}

.project-header_description {
    margin: 0 auto;
    max-width: 80rem;
}

.project-header--for-home {
    margin-bottom: -1.5rem;
}

.project-header_name--overview {
    margin: 0 auto;
    max-width: 72rem;
    font-size: 2em;
    word-wrap: break-word;
}

.push--bottom {
    margin-bottom: 1.25em;
}

.push_double--bottom {
    margin-bottom: 2em;
}

.push_half--bottom {
    margin-bottom: 0.625em;
}

.push_quarter--top {
    margin-top: 0.3125em
}

.push--top {
    margin-top: 1.25em;
}

.right-align {
    margin-left: auto;
}

.sheet {
    position: relative;
    background: #fff;
    padding: 1.6rem;
}

.sheet--shadowed {
    box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;
    padding: 30px;
}

.sheet--signup {
    animation: scale-fade-in 0.3s ease;
    border-radius: 1rem;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.txt-bold {
    font-weight: bold;
}

.txt--truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.x-large {
    font-size: 330%;
}
