<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Trusted by millions, Baseplate puts everything you need to play in one place. 
    It’s the calm, organized way to manage projects, keep your buildings at right angles, and communicate company-wide.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html>